.listenbox{
  z-index: 99;
  position: relative;
}

body {
  margin: 0;
  font-family: 'arial';
}

code {
  font-family: 'arial';
}

*, :after, :before {
  box-sizing: border-box;
}

.mainpage{
  padding: 50px;
  text-align: center;

  .idlogo{
    text-align: center;
    margin-bottom: 20px;

    span{
      display: block;
    font-weight: 600;
    font-size: 20px;
    color: #007fff;
    }
  }

  .linkbox{
    align-items: start;
    gap: 20px;
    text-align: left; 
    display: flex; 
    max-width: 700px;
    margin: 0px auto;
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 20px;  

    a{
      color: #007fff;
      font-size: 14px;
      margin-bottom: 8px;
      text-decoration: underline;
      display: block;
      cursor: pointer;
    }
  }
}
